@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

body{
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas:'nav section'
  'nav section';
  grid-template-rows:  auto auto;
  grid-template-columns: 160px auto;
}

#nav-mobile{
  display: none;
}

#menu{
  display: none;
}
label[for="menu"] {
  display: none;
}
nav{
  background-color:white;
  grid-area: nav;
  color: black;
  display: flex;
  align-items: center;
  z-index: 2;
}

nav ol{
  flex-grow: 1;
  list-style: none;
}
nav ol li a{
  color: inherit;
  display: block;
  padding: 1rem;
  text-decoration: none;
  font-weight: 500;
}
nav ol li a:hover{
  background-color: #00002b;
  color: white;
}
nav ol li a i{
  margin-right: 0.5rem;
}

section{
  background:  #00002b;
  grid-area: section;
  position: relative;
}

article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 2.5rem;
}
article span:nth-child(2){
  font-size: 4rem; 
  font-weight: 900; 
  text-align: center;
}

article .perfil{
  display: flex; 
  flex-direction: row; 
  align-items: baseline;
}
article .dynamic-text{
  margin-left: 15px;
  line-height: 47px;
  height: 47px;
  overflow: hidden;
}
.dynamic-text li{
  color: white;
  font-weight: 900;
  list-style: none;
  font-size: 2.5rem;
  position: relative;
  top: 0;
  animation-name: slide;
  animation-timing-function: steps(2);
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes slide{
  100%{
    top: -94px;
  }
}

.dynamic-text li span{
  position: relative;
  font-family: consolas;
}

.dynamic-text li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background:  #00002b;
  border-left: 4px solid white;
  animation-name: typing;
  animation-duration: 3s;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
}

@keyframes typing {
  50%{
    left: calc(100% + 20px);
  }
  100%{
    left: 0;
  }
}

/*---------------------------------------------------*/
@media (max-width: 768px) { 
  nav ol li a span{
    display: none;
  }
  
  body{
    grid-template-columns: 50px auto;
  }
}

/*---------------------------------------------------*/
@media (max-width: 480px) { 
  label[for="menu"] {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 55px;
    color: white;
    top: 0;
    position: absolute;
    z-index: 5;
    display: inherit;
  }


  input:checked  ~ #nav-mobile{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #00002b;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input:checked  ~ label[for="menu"] .fa-bars::before {
    content:"\f00d";
  }

  #nav-mobile{
    color: #00002b;
    align-items: center;
    display: none;
  }
  #nav-mobile ul{
    flex-grow: 1;
  }

  #nav-mobile li a {
    display: block;
    color: #00002b;
    background: white;
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 20px;
    text-decoration: none;
    border: 1px solid;
  }
  
  
  
  nav{
    display: none;
  }
  body{
    grid-template-columns: 0px auto;
  }
}